* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 85px;
    background-color: green;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.logo{
    float: left;
    width: 12%;
    padding: 10px;
    color: #ffffffff;
}
.logo h1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.logo h2 {
    font-size: 30px;
    margin-left: 45px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.active a {
    color: green;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 7px;
    background-color: #ffffffff;
}
nav {
    float: left;
    margin: 30px 30px;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #ffffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 7px;
}
nav a:hover {
    background-color: #ffffffff;
    color: green;
    transition: 0.5s;
}
.fa-search {
    margin: 11px;
    margin-left: 200px;
    position: absolute;
    color: green;
    font-size: 18px;
    cursor: pointer;
}
.search {
    float: right;
    margin: 17px 20px;
    padding: 5px 20px;
    position: relative;
}
.search input {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: green;
}
.search input:focus {
    background-color: #ffff;
    border: none;
}
.search input::placeholder {
    color: green;
    font-weight: 700;
    margin-top: 8px;
}
.marquee {
    margin: 10px 70px;
    font-size: 22px;
    font-weight: 800;
    color: green;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.marquee .service {
    margin-left: 50px;
    margin-right: 30px;
}

.marquee .contact {
    margin: 0px 30px;
}

.marquee .email {
    margin: 0px 30px;

}

.marquee .location {
    margin: 0px 30px;

}

.marquee i {
    margin: 0px 10px;
}

.background {
    width: 100%;
    min-height: 83vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/agricultural/pexels-pixabay-106162.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sometext {
    margin: 12% 3%;
    position: absolute;
    color: #ffffffff;
    font-size: 30px;
    width: 50%;
    float: left;
}
.sometext p {
    font-size: 20px;
    margin-top: 20px;
    color: #ffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sometext button {
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 7px;
    font-size: 23px;
    background-color: green;
    font-weight: 800;
    border: none;
    color: #ffffffff;
}
.fa-arrow-right {
    margin-left: 10px;
}
.sometext button:hover {
    background-color: #ffffffff;
    color: green;
}
.media-icons {
    position: absolute;
    bottom: 2px;
    left: 30px;
}

.media-icons i {
    color: #ffffffff;
    font-size: 20px;
    margin-left: 15px;
}
.image {
    float: right;
    width: 40%;
    height: 50vh;
    border: 4px solid #ffffffff;
    margin: 50px 30px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rbga(0, 0, 0, 0.2);
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 100;
}
.about {
    width: 100%;
    height: 110vh;
    background-color: rgb(197, 245, 197);
    opacity: 1;
    color: green;
}

.abt-pic {
    width: 40%;
    height: 80vh;
    margin: 60px 80px;
    margin-top: 100px;
    position: absolute;
    border-radius: 5px;
}
.abt-pic img {
    width: 100%;
    height: 100%;
}
.abt-text {
    width: 40%;
    height: 75vh;
    float: right;
    margin: 60px 50px;
    padding: 30px;
    text-align: center;
    font-weight: 900;
    color: green;
}

.abt-text ul {
    text-align: left;
    list-style-type: circle;
    margin-top: 60px;
}

.abt-text ul li {
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.abt-text .pic {
    width: 100%;
    height: 17vh;
    margin-top: 20px;
}

.abt-text .pic .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abt-text .pic .col {
    margin: 20px;
    padding: 20px 15px;
    border-radius: 50%;
    color: green;
    box-shadow: 0px 0px 3px 0px;
}

.abt-text .pic .col i {
    font-size: 40px;
}
.abt-text .pic .col:hover{
    background-color: green;
    color: #ffff;
    transition: 0.5s;
}
.services{
    width: 100%;
    min-height: 220vh;
    background-color: #ffff;
    position: relative;
}
.services-header{
    width: 100%;
    position: absolute;
    margin-top: 120px;
    height: auto;
    color: darkgreen;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.services-header h1{
    font-size: 40px;
    margin: 10px 0px;
}
.services-header h3{
    font-size: 20px;
    font-weight: 700;   
}
.services .container{
    width: 100%;
    height: 60vh;
    margin-top: 320px;
    padding: 10px 0px;
    position: absolute;
}

.container .col{
    float: left;
    width: 350px;
    height: 430px;
    margin-left: 130px;
    background-color: rgb(76, 141, 76);
    border-radius: 10px;
    position: relative;
    border: 2px solid  darkgreen;
    margin-top: 40px;
}
.container .col:hover{
    margin-top: 0px;
    transition: 0.3s ease-in-out;
}
.container .col .col-img{
    width: 100%;
    height: 200px;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container .col .col-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container .col .col-text{
    width: 97%;
    height: 140px;
    padding: 5px;
    position: absolute;
    margin-top: 200px;
}
.container .col .col-text h3{
     text-align: center;
     color: #ffff;
     font-weight: 600;
     margin: 5px 0px;
     font-size: 20px;
}
.container .col .col-text p{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    color: #ffff;
}

 .col button{
    margin-top: 360px;
    margin-left: 98px;
    position: absolute;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    color: green;
    font-weight: 800;
}
.col button:hover{
    background-color: rgb(97, 142, 96);
    color: #ffff;
}
.container2{
    width: 100%;
    height: 105vh;
    position: absolute;
    margin-top: 65%;
    background-color: rgb(251, 249, 249);
}
.main-cont{
     width:78%;
     height: 95vh;
     position: absolute;
     margin-top:70px;
     margin-left: 10%;
}
.main-cont:hover{
    margin-top: 30px;
}
.main-service{
    width: 70%;
    height: 73vh;
    position: absolute;
    margin-top: 4%;
    margin-left: 15%;
    border-radius: 5px;
}
.main-service img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.main-service2{
    position: absolute;
    margin-top: 76vh;
    margin-left: 17.5%;
    width: 65%;
    height: 110px;
    background-color:  rgb(243, 240, 240);;  
    border-radius: 5px;
    color: green;
}
.main-service2 .row{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 30px;
}
.main-service2 .row .col{
    flex-basis: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 10px;    
}
.main-service2 .row .col h4{
font-family: Arial, Helvetica, sans-serif;
}